th {
    width: 100px;
    height: 30px;
    border: solid 1px black;
    background-color: gray;
}

td {
    width: 30px;
    height: 30px;
    border: solid 1px black;
}

form {
    margin-top: 10px;
}